In [30]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sb

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
citydata_df = pd.read_csv(city_data_to_load)
ridedata_df = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
combined_df = pd.merge(citydata_df,ridedata_df,how='outer',on='city')

# Display the data table for preview
combined_df.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [31]:
#set groupby
citygroup = combined_df.groupby('city')

#avg fare
avgfare = citygroup.mean()['fare']
#avgfare

#ride count
ridecount = citygroup['ride_id'].count()
#ridecount

#driver count 
drivercount = citygroup.max()['driver_count']
#drivercount

#city type
#set index
citytype = citydata_df.set_index('city')['type']

#create summary dataframe:
city_summary_df = pd.DataFrame({
    "Number of Rides": ridecount,
    "Average Fare": avgfare,
    "Driver Count": drivercount,
    "City Type": citytype
})
#city_summary_df.head()

#separated df for each city type
urban = city_summary_df[city_summary_df['City Type']=="Urban"]
suburban = city_summary_df[city_summary_df['City Type']=="Suburban"]
rural = city_summary_df[city_summary_df['City Type']=="Rural"]

In [34]:
# Obtain the x and y coordinates for each of the three city types

#urban ride count and fare rate
urbanridecount = urban["Number of Rides"]
urbanfares = urban["Average Fare"]
urbandrivercount = urban["Driver Count"]

#suburban ride count and fare rate
suburbanridecount = suburban["Number of Rides"]
suburbanfares = suburban["Average Fare"]
suburbandrivercount = suburban["Driver Count"]

#rural ride count and fare rate
ruralridecount = rural["Number of Rides"]
ruralfares = rural["Average Fare"]
ruraldrivercount = rural["Driver Count"]

#define colors
colorset = {'Gold':'#FFD700', 'Sky Blue':'#87CEFA','Coral':'#F08080'}
#sb.palplot(sb.color_palette(colors.values()))

#Color Dictionary 
colors = {'Urban': colors['Orange'], 'Suburban': colors['Light Sky Blue'], 'Rural': colors['Gold']}


# Build the scatter plots for each city types
plt.scatter(urbanridecount, urbanfares, s=urbandrivercount*10, color=orange)

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

KeyError: 'Orange'